@import "../dev/variables.sass"
@import "../dev/mixins.sass"
@import "../components/banner.sass"
@import "../../../lib/flexiblegs-sass/flexiblegs-sass.sass"
@import "../partial/header/header2.sass"
@import "../components/aside_content.sass"

body
  background-color: #F7F7F7

section#search-top
  padding: 30px 0
  width: 100%
  background-color: #eee
  form#search-form
    .select-boxes
      display: table
      width: 100%
      table-layout: fixed
      .select-control
        display: table-cell
        vertical-align: middle
        + .select-control
          padding-left: 16px

.search-list
  &__item
    background-color: #fff
    padding: 10px 0
    margin-bottom: 14px
    box-shadow: 0 1px 2px 0 rgba(61,61,61,0.07)
    cursor: pointer
    position: relative
    &:before
      content: ""
      position: absolute
      left: -5px
      top: -2px
      width: 1px
      height: 100%
      +transition(width .5s ease-in-out, opacity .5s ease-in-out)
      z-index: -1
      background-color: $green
      padding: 2px
      opacity: .2
    &.selected
      &:hover
        &:before
          opacity: .2
      &:before
        width: 100%
        left: -2px
        opacity: 1
      .search-list-action
        .select-button
          .icon
            opacity: 1
    +wrap
    +wrap("middle")
    figure
      +col
      +col(3, 12)
      > img
        max-width: 100%
        height: 90px
        display: block
        margin: 0 auto
      > figcaption
        display: none
    .search-list-info
      +col
      +col(7, 12)
      font-weight: $regular
      line-height: 1.85714em
      .product-number
        font-size: 16px
        +tracking(40)
        color: $font-color
        font-weight: $regular
      .product-location
        font-size: 16px
        color: $font-color
      .product-type
        font-size: 16px
        color: $font-color
      .product-year
        font-size: 16px
        color: $font-color
    .search-list-action
      +col
      +col(2, 12)
      .select-button
        float: right
        margin-right: 20px
        .icon
          font-size: 50px
          color: $green
          opacity: .1
          +transition(opacity .6s ease-in-out)
    #search-form
      +col
      +col(1, 1)
      background-color: #ddd
      padding:  20px

@import "../components/pagination.sass"

#search-form-info
  margin-bottom: 10px
  h1.form-title
    font-weight: $medium
    i.icon
      color: $purple
      font-size: 18px
      vertical-align: top
      margin-left: 5px
  p.form-note
    margin-top: 10px

#search-form-content
  +wrap()
  .text-control
    +col()
    +col(1, 1)
  .textdesc-control
    +col()
    +col(1, 1)
  .search-list__item
    margin-bottom: 0

+responsive(mobile)

  section#search-top
    form#search-form
      .select-boxes
        display: block
        .select-control
          display: block
          + .select-control
            padding-left: 0
            margin-top: 20px

  #search-form-content
    +wrap()
    .text-control
      +col()
      +col(1, 1)
  .search-list
    &__item
      +wrap
      +wrap("middle")
      figure
        +col
        +col(1, 1)
      .search-list-info
        +col
        +col(1, 1)
        padding: 30px
      .search-list-action
        +col
        +col(1, 1)