header#header
  #header-top
    .container
      .language.dropdown.open
        a.dropdown-toggle(data-toggle='dropdown', href='#', aria-expanded='true')
          img(src='/Content/images/flag-en.jpg', alt='Image')
          | Language
        ul.dropdown-menu(role='menu')
          li
            a(href='#') ENGLISH
          li
            a(href='#') TÜRKÇE

  #header-middle
    .container
      a#brand
        img(src="assets/images/logo.png", alt="Logo Alanı")
  #header-nav
    .container
      #navbar
        .left
          nav#nav
            ul
              li.active
                a(href="index.html") HOME
              li
                a(href="about.html") ABOUT US
              li
                a(href="searchcontainer.html") FIND CONTAINER
              li
                a(href="contact.html") CONTACT US
        .right
          nav#iconbar
            ul
              li
                a
                  i.icon.icon-menu
              li
                a
                  i.icon.icon-search
          nav#socialbox
            ul
              li
                a
                  i.icon.icon-facebook
              li
                a
                  i.icon.icon-twitter
              li
                a
                  i.icon.icon-google-plus
              li
                a
                  i.icon.icon-youtube
              li
                a
                  i.icon.icon-vimeo