header#header
  .container
    #navbar
      a#brand
        img(src="assets/images/logo.png", alt="Logo Alanı")
      nav#nav
        ul
          li.active
            a(href="#") HOME
          li
            a(href="#") ABOUT US
          li
            a(href="#") FIND CONTAINER
          li
            a(href="#") CONTACT US