header#header
  #header-top
    .container
      .language
        a(href="#")
          img(src='/assets/images/flag-en.jpg', alt='Image')
          | Language
        ul.dropdown-menu(role='menu')
          li
            a(href='#') ENGLISH
          li
            a(href='#') TÜRKÇE
      .right
        ul
          li
            a
              i.icon.icon-phone
              | +90 999 999 99
  #header-middle
    .container
      .wrap
        a#brand.col
          img(src="assets/images/logo.png", alt="Logo Alanı")
        .icon-block.col
          i.icon.icon-network
          h6.info OPENING HOURS
            span MON-FRI 07:00 - 18:00
        .icon-block.col
          i.icon.icon-location
          h6.info OUR LOCATION
            span TURKEY - ISTANBUL
        .icon-block.col
          i.icon.icon-bubbles
          h6.info QUICK SUPPORT
            span INFO@SITE.COM
      button#mobilenav
        i.icon.icon-menu
  #header-nav
    .container
      #navbar
        .left
          nav#nav
            ul
              li.active
                a(href="index.html") HOME
              li
                a(href="about.html") ABOUT US
              li
                a(href="searchcontainer.html") FIND CONTAINER
              li
                a(href="contact.html") CONTACT US
        .right
          nav#iconbar
            ul
              li
                a.asidesearchbtn
                  i.icon.icon-menu
              li
                a
                  i.icon.icon-search
          nav#socialbox
            ul
              li
                a
                  i.icon.icon-facebook
              li
                a
                  i.icon.icon-twitter
              li
                a
                  i.icon.icon-google-plus
              li
                a
                  i.icon.icon-youtube
              li
                a
                  i.icon.icon-vimeo