header#header
  .container
    #navbar
      a#brand
        img(src="assets/images/logo.png", alt="Logo Alanı")
      button(type="button")#mobilenav-btn
        span
        span
        span
      nav#nav
        ul
          li.active
            a(href="index.html") HOME
          li
            a(href="about.html") ABOUT US
          li
            a(href="searchcontainer.html") FIND CONTAINER
          li
            a(href="contact.html") CONTACT US