extends ./layouts/main.pug

block append styles
  link(href="assets/styles/pages/about.min.css", rel="stylesheet")

block append scripts
  script(src="assets/scripts/pages/about.min.js")

block banner
  section#banner(style="background-image: url(assets/images/banner.jpg)")
    .container
      #banner-content
        h1#page-title  ABOUT
        nav#breadcrumb
          ul
            li
              a(href="index.html") HOME
            li
              i.icon.icon-chevron-right
            li.active
              a(href="#") ABOUT


block content
  .container
    #page-content
      article.article
        h1.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, nesciunt?
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur repellat quos obcaecati, nesciunt, aliquam autem sint voluptate maxime eligendi assumenda possimus consequatur? Cum ipsum in officiis id impedit possimus doloremque nesciunt est, molestias officia, neque eos alias necessitatibus cumque minima assumenda! Saepe, officiis error consequuntur. Ex corporis, voluptatem. Sunt, incidunt.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda perspiciatis earum iure pariatur, ut saepe, atque ea nulla, deserunt repudiandae alias. Sit unde maiores repudiandae optio ipsam error sint nulla tenetur quasi, dolorum veritatis minus ab ratione provident cumque pariatur inventore iure hic a eius praesentium excepturi, sapiente aliquid perspiciatis.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam alias sed, consectetur, voluptatem dolorum rem exercitationem! Quas et nulla ut commodi ab deserunt corporis non, maiores cum expedita placeat sequi corrupti voluptate excepturi fuga veniam ad id quam eius doloribus distinctio. Id impedit praesentium tenetur quo molestias fugiat, saepe accusantium eos deserunt, corrupti et ut tempora inventore laborum consequatur voluptatibus, eligendi sed. Quia eius iste quidem in molestias labore delectus nemo maxime ullam error deleniti beatae sunt, nihil dolore consectetur doloremque officiis vitae quos, distinctio autem. Aperiam harum voluptates mollitia voluptate debitis rem praesentium sequi sunt laboriosam omnis nemo officia in voluptas, voluptatum vero reprehenderit natus fugiat, pariatur, maiores unde, sint nam quam. Hic perferendis cumque magnam eos, architecto earum maiores voluptatibus ab odio nihil excepturi. Sit voluptatum illum doloremque magni hic vel deserunt delectus molestiae odit, dignissimos cumque ab ex atque. Quas hic ad, quam cupiditate enim, neque harum beatae. Quia saepe fugit fugiat praesentium nemo tempora perspiciatis quam, nulla minus mollitia voluptatum debitis, recusandae eligendi exercitationem explicabo ex cum unde ipsam quod ducimus beatae. Libero, laborum quasi eos a obcaecati delectus neque ipsam, sit officiis repellendus? Natus adipisci incidunt vero, officiis voluptates perferendis mollitia minima quia possimus eos.
      article.article
        h1.title  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, magni.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur repellat quos obcaecati, nesciunt, aliquam autem sint voluptate maxime eligendi assumenda possimus consequatur? Cum ipsum in officiis id impedit possimus doloremque nesciunt est, molestias officia, neque eos alias necessitatibus cumque minima assumenda! Saepe, officiis error consequuntur. Ex corporis, voluptatem. Sunt, incidunt.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam alias sed, consectetur, voluptatem dolorum rem exercitationem! Quas et nulla ut commodi ab deserunt corporis non, maiores cum expedita placeat sequi corrupti voluptate excepturi fuga veniam ad id quam eius doloribus distinctio. Id impedit praesentium tenetur quo molestias fugiat, saepe accusantium eos deserunt, corrupti et ut tempora inventore laborum consequatur voluptatibus, eligendi sed. Quia eius iste quidem in molestias labore delectus nemo maxime ullam error deleniti beatae sunt, nihil dolore consectetur doloremque officiis vitae quos, distinctio autem. Aperiam harum voluptates mollitia voluptate debitis rem praesentium sequi sunt laboriosam omnis nemo officia in voluptas, voluptatum vero reprehenderit natus fugiat, pariatur, maiores unde, sint nam quam. Hic perferendis cumque magnam eos, architecto earum maiores voluptatibus ab odio nihil excepturi. Sit voluptatum illum doloremque magni hic vel deserunt delectus molestiae odit, dignissimos cumque ab ex atque. Quas hic ad, quam cupiditate enim, neque harum beatae. Quia saepe fugit fugiat praesentium nemo tempora perspiciatis quam, nulla minus mollitia voluptatum debitis, recusandae eligendi exercitationem explicabo ex cum unde ipsam quod ducimus beatae. Libero, laborum quasi eos a obcaecati delectus neque ipsam, sit officiis repellendus? Natus adipisci incidunt vero, officiis voluptates perferendis mollitia minima quia possimus eos.