extends ./layouts/subpagelayout.pug

block append styles
  link(href="assets/styles/pages/contact.min.css", rel="stylesheet")

block append scripts
  script(src="assets/scripts/pages/contact.min.js")


block banner
  section#banner(style="background-image: url(assets/images/banner.jpg)")
    .container
      #banner-content
        h1#page-title  CONTACT
        nav#breadcrumb
          ul
            li
              a(href="index.html") HOME
            li
              i.icon.icon-chevron-right
            li.active
              a(href="#") CONTACT


block content
  .container
    #page-side-content
      aside#aside
        #contact-form
          form(onSubmit="containerRequest(event, this)", method="POST", action="#")
            #search-form-info
              h1.form-title CONTACT FORM
                a(data-tooltip="You can contact us for questions and suggestions on this form")
                  i.icon.icon-info
              //p.form-note
                span#remove-info Lütfen listeden istediginiz konteynera tıklayınız.
                span#selected-info
            #contact-form-content
              .text-control
                input(type="text", placeholder="Name", name="name").text
              .text-control
                input(type="text", placeholder="Surname" name="surname").text
              .text-control
                input(type="tel", placeholder="Phone" name="phone").text
              .text-control
                input(type="email", placeholder="Mail", name="email").text
              .textdesc-control
                textarea(placeholder="Description", name="desc").text
              button.button(type="submit") 
                i.icon.icon-bubbles
                |SEND
      section#content
        #contact-wrap
          #contact-info
            .icon-block.col
              a(href="tel:+90 999 999 99 99")
                i.icon.icon-phone
                h6.info PHONE
                  span +90 999 999 99 99
            .icon-block.col
              a(href="fax:+90 999 999 99 99")
                i.icon.icon-fax
                h6.info FAX
                  span +90 999 999 99 99
            .icon-block.col
              a(href="mailto:INFO@SITE.COM")
                i.icon.icon-bubbles
                h6.info QUICK SUPPORT
                  span INFO@SITE.COM
            .icon-block.col
              i.icon.icon-location
              h6.info OUR LOCATION
                span TURKEY - ISTANBUL
          #map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6353271.38165767!2d30.752255346787692!3d38.965482524237586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b0155c964f2671%3A0x40d9dbd42a625f2a!2zVMO8cmtpeWU!5e0!3m2!1str!2str!4v1502243602151")