extends ./layouts/subpagelayout.pug

block append styles
  link(href="assets/styles/pages/home2.min.css", rel="stylesheet")

block append scripts
  script(src="assets/scripts/pages/home2.min.js")

block banner
  section#full-slider(style="background-image: url(assets/images/slider/slide.jpg)")
    .container
      form#search-form(action="searchcontainer.html", method="GET")
        h1.form-title FIND CONTAINERS
        p.form-note  Check your delivery easily & quickly
        .select-boxes
          .select-control
            select.select(multiple= true, placeholder="Select Country", name="county")
              option Turkey
              option Germany
              option Russia
          .select-control
            select.select(multiple= true, placeholder="Select City", name="city")
              optgroup(label="Türkiye")
                option İstanbul
                option Ankara
          .select-control
            select.select(multiple= true, placeholder="Select Depot", name="depot")
              optgroup(label="İstanbul")
                option Depot1
                option Depot2
                option Depot3
          .select-control
            select.select(multiple= true, placeholder="Select Container Type", name="type")
              option Type1
              option Type2
              option Type3
        button.button(type="submit") 
          i.icon.icon-search
          |FIND CONTAINERS

block content
  #page-content
    .container
      .wrap
        article.article.col
          h1.title  Lorem ipsum dolor sit amet.
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, repellendus!
          ul.list
            li  Lorem ipsum dolor sit amet.
            li  Lorem ipsum dolor sit amet.
            li  Lorem ipsum dolor sit amet.
        .col
          .img-box
            figure
              img(src="http://enessefak-001-site1.itempurl.com/Content/images/icon01.png", alt="alt")
              figcaption SEA SHIPPING
            .desc
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, veniam.
        .col
          .img-box
            figure
              img(src="http://enessefak-001-site1.itempurl.com/Content/images/icon02.png", alt="alt")
              figcaption SEA SHIPPING
            .desc
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, veniam.
        .col
          .img-box
            figure
              img(src="http://enessefak-001-site1.itempurl.com/Content/images/icon03.png", alt="alt")
              figcaption SEA SHIPPING
            .desc
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, veniam.