extends ./layouts/homelayout.pug

block append styles
  link(href="assets/styles/pages/home.min.css", rel="stylesheet")

block append scripts
  script(src="assets/scripts/pages/home.min.js")
block append banner
  section#full-slider
    .container#search-form-container
      form#search-form(action="searchcontainer.html", method="GET")
        h1.form-title Find Your
         br
         |Shipper’s Own Container
         br
         |Easily
        //p.form-note  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, provident.
        .select-boxes
          .select-control
            select.select(multiple= true, placeholder="Select Country", name="county")
              option Turkey
              option Germany
              option Russia
          .select-control
            select.select(multiple= true, placeholder="Select City", name="city")
              optgroup(label="Türkiye")
                option İstanbul
                option Ankara
          .select-control
            select.select(multiple= true, placeholder="Select Container Type", name="type")
              option Type1
              option Type2
              option Type3
          .select-control
            select.select(multiple= true, placeholder="Sizes", name="sizes")
              option Size1
              option Size2
              option Size3
        button.button(type="submit") 
          i.icon.icon-search
          |FIND CONTAINERS
block content
  #effect-wrapper
    div(style="overflow:hidden;width:100%;height:200px;position:relative")
      div#slider-effect1
      div#slider-effect2
    .container#slider-img-container
      img#slider-img(src="assets/images/slider/slider-img.png", alt="slideimg")