extends ./layouts/subpagelayout.pug

block append styles
  link(href="assets/styles/pages/search.min.css", rel="stylesheet")

block append scripts
  script(src="assets/scripts/pages/search.min.js")

block banner
  section#banner(style="background-image: url(assets/images/banner.jpg)")
    .container
      #banner-content
        h1#page-title  SEARCH CONTAINERS
        nav#breadcrumb
          ul
            li
              a(href="index.html") HOME
            li
              i.icon.icon-chevron-right
            li.active
              a(href="#") SEARCH

block content
  section#search-top
   .container
      form#search-form
        .select-boxes
          .select-control
            select.select(multiple= true, placeholder="Select Country")
              option Turkey
              option Germany
              option Russia
          .select-control
            select.select(multiple= true, placeholder="Select City")
              optgroup(label="Türkiye")
                option İstanbul (ASIA)
                option İstanbul (EUR)
                option Ankara
          .select-control
            select.select(multiple= true, placeholder="Select Container Type")
              option Type1
              option Type2
              option Type3
          .select-control
            select.select(multiple= true, placeholder="Sizes", name="sizes")
              option Size1
              option Size2
              option Size3
  .container
    #page-side-content
      aside#aside
        section.aside-widget
          #search-form
            form(onSubmit="containerRequest(event, this)", method="POST", action="#")
              #search-form-info
                h1.form-title PURCHASE FORM
                  a(data-tooltip="You will receive an email with your selected container information")
                    i.icon.icon-info
                p.form-note
                  span#remove-info Please select the container you want from the list
                  span#selected-info
              #search-form-content
                .text-control
                  input(type="text", placeholder="Name", name="name").text
                .text-control
                  input(type="text", placeholder="Surname" name="surname").text
                .text-control
                  input(type="tel", placeholder="Phone" name="phone").text
                .text-control
                  input(type="email", placeholder="Mail", name="email").text
                .textdesc-control
                  textarea(placeholder="Description", name="desc").text
                button.button(type="submit") 
                  i.icon.icon-bubbles
                  |REQUEST
      section#content
        header
          h3.result-info Search Result 
            strong  6 
            | Items
          span.page-info  Page 
            strong 2 
            | / 3
        .search-list#search-list
          -
            containerImg = [
              "assets/images/konteyner.png",
              "assets/images/konteyner.png",
              "assets/images/konteyner.png",
              "assets/images/konteyner.png",
              "assets/images/konteyner.png",
              "assets/images/konteyner.png"
            ]
          for item, i in containerImg
            - _id = "searchListItem"+i;
            .search-list__item(id= _id, onClick="selected(event, this)")
              figure
                img(src= item, alt="alt")
                figcaption Product İnfo
              .search-list-info
                h2.product-number 
                  strong Container Number: 
                  | ABCD 123XXX-X
                p.product-location
                  strong Container Location: 
                  | Türkiye/İstanbul (ASIA)
                p.product-type
                  strong Container Type: 
                  | 20
                p.product-year
                  strong Year of Manufacture: 
                  | 2016
              .search-list-action
                a.select-button
                  i.icon.icon-check          
        footer
          #pagination
            nav
              a(rel="prev")
                i.icon.icon-chevron-left
                | PREVIOUS
              ul
                li
                  a 1
                li.active
                  a 2
                li
                  a 3
              a(rel="next")
                | NEXT
                i.icon.icon-chevron-right